body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.product-list header {
  margin: 10px 0;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 3px;
}